<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
    <listeners>
          <listener class-name="utils.TestAllureReportListener"></listener>
    </listeners>
    <test name="ToolsQA" parallel = "methods" >
        <classes>
            <class name="cases.CheckNextEvents" />
        </classes>
    </test>
</suite>
